.Detailspage
{
    font-size: large;
    text-align: center;
    background-color: whitesmoke;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw;
    overflow:auto;
    position: fixed;
    color: black;
    border: red 3px solid;
}
.c1
{
    float: right;
    margin-right: 10%;
    text-align: left;
}
.rating :hover
{
    text-decoration: underline red;
}
.pd1bx img
{
    float: left;
    margin-left: 1%;
  
    
}
.pd1bx
{   font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    padding: 50px 10px;
    margin: 50px 50px;
}


@media (max-width: 600px) {
    .Detailspage {
        font-size: medium;
        height: 100vh;
        position: relative;
        padding: 10px;
        overflow: auto;

    }

    .pd1bx {
        font-size: large;
        margin: 20px 10px;
    }
    .pd1bx img {
        width: 100%;
        height: auto;
    }

    .c1 {
        text-align: center;
        margin: 10px 0;
        text-align: left;
        float: left;
    }
}
@media (max-width: 1024px) {
    .pd1bx {
        flex-direction: column;
        font-size: x-large;
    }

    .c1 {
        margin-right: 0;
        float: center;
        text-align: left;
    }
}