.sell-container {
  width: 100%;
  height: 100vh; 
}
.sell-form {
  float: left;
    width: 50%;
    text-align: center;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.sell-form input {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 background: transparent;
}